* {
  font-family: "Fjalla One", sans-serif;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
}

.perspective-text {
  z-index: 3;
  position: absolute;
  top: 200px;
  color: rgb(162, 162, 1);
  font-size: 70px;
  font-weight: 900;
  letter-spacing: -2px;
}
.perspective-line {
  height: 70px;
  overflow: hidden;
}
.perspective-line p {
  margin: 0rem;
  height: 70px;
  line-height: 70px;
  transition: all 0.3s ease-in-out;
}
.perspective-line:hover p {
  transform: translate(0, -70px);
}
