* {
  font-family: "Fjalla One", sans-serif;
}
.about {
  margin: 1rem 3rem;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about--text {
  width: 50%;
  font-size: 1.3rem;
}
h4 {
  color: olive;
}
@media screen and (max-width: 900px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about--text {
    font-size: 1rem;
  }
  .about--img img {
    position: absolute;
    height: 200px;
    width: 200px;
    right: 5rem;
    z-index: -3;
    opacity: 30%;
    transition: 0.1s all ease-in;
  }
}
@media screen and (max-width: 450px) {
  .about {
    margin: 0rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .about--text {
    font-size: 1.3rem;
  }
  .about--img img {
    position: absolute;
    height: 200px;
    width: 200px;
    right: 5rem;
    z-index: -3;
    opacity: 30%;
    transition: 0.1s all ease-in;
  }
}
