<div class="about">
  <div class="about--text">
    <p id="title">Birsan Stefana</p>
    <h4>Junior Frontend Developer</h4>
    <h6>Curious, passionate and creative.</h6>
    <p>
      I am working on projects to constantly improve my web development skills
      and I am searching for inspiration in the most idyllic location
      <span> -- Pisa, Tuscany-- </span> where I am currently located.
    </p>
  </div>
  <div class="about--img">
    <img
      src="../../../assets/undraw_dev_focus_re_6iwt (2).svg"
      alt=""
      height="400px"
      width="400px"
    />
  </div>
</div>
